<br>
<br>
<div class="container">
<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header bg-transparent border-0">
        <h2 class=" mb-0">Lista de informes</h2>
      </div>
      <div class="">
        <div class="grid-margin">
          <div class="">
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap  align-items-center">
                <thead class="thead-dark">
                <tr>
                  <th>Empresa</th>
                  <th>Fecha de publicacion</th>
                  <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                <tr >
                  <td>Laboratorio Clínico Falab S.A.S.</td>
                  <td class="text-sm font-weight-600">15 de Diciembre de 2018</td>
                  <td class="text-sm font-weight-600">Joanne Nash</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
