<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header bg-transparent border-0">
          <h2 class=" mb-0">Lista de Deudas</h2>
        </div>
        <div class="">
          <div class="grid-margin">
            <div class="">
              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap  align-items-center">
                  <thead class="thead-dark">
                  <tr>
                    <th>Nombre</th>
                    <th>Saldo</th>
                    <th>Deudas Pendientes</th>
                    <th>Deudas Pagadas</th>
                    <th>Todas las deudas</th>
                    <th>*</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr >
                    <td>I.P.S.I. WAYUU TALATSHI</td>
                    <td>Deuda 1 </td>
                    <td>10.812.764 </td>
                    <td class="text-nowrap">Pre jurídico</td>
                    <td class="text-nowrap">15 de Diciembre de 2018</td>
                    <td class="text-nowrap">July 2, 2018</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
