<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header bg-transparent border-0">
          <h2 class=" mb-0">Lista de deudores</h2>
        </div>
        <div class="">
          <div class="grid-margin">
            <div class="">
              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap  align-items-center">
                  <thead class="thead-dark">
                  <tr>
                    <th>Deudor</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th>Creacion</th>
                    <th>*</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr >
                    <td>2345</td>
                    <td class="text-sm font-weight-600">Megan Peters</td>
                    <td><div class="avatar-group">
                      <a class="avatar avatar-sm"  data-toggle="tooltip" href="#"><img alt="Image placeholder" class="rounded-circle" src="../assets/img/faces/female/8.jpg"></a>
                      <a class="avatar avatar-sm"  data-toggle="tooltip" href="#"><img alt="Image placeholder" class="rounded-circle" src="../assets/img/faces/female/9.jpg"></a>
                      <a class="avatar avatar-sm"  data-toggle="tooltip" href="#"><img alt="Image placeholder" class="rounded-circle" src="../assets/img/faces/male/10.jpg"></a>
                      <a class="avatar avatar-sm"  data-toggle="tooltip" href="#"><img alt="Image placeholder" class="rounded-circle" src="../assets/img/faces/female/11.jpg"></a>
                    </div>
                    </td>
                    <td>please check pricing Info </td>
                    <td class="text-nowrap">July 13, 2018</td>
                    <td class="text-nowrap">June 15, 2018</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
